.layout {
  border-radius: 10px;
  font-size: 18px;
  color: white;
  padding: 18px;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .layout {
    padding: 10px;
    font-size: 14px;
  }
}
