.layout {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
}

.header {
  background: linear-gradient(#6a32b4, #552693, #6a32b4);
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  padding: 30px;
}

.form > form > div > input {
  box-sizing: border-box;
  padding: 21px;
  font-size: 20px;
  color: #bcbfc4;
  background-color: #f5f3ff;
  border: 1px transparent;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 3px #c6c5ce inset;
}

.form > form > div > div {
  font-size: 18px;
  color: #626366;
  padding-left: 20px;
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  background-color: #ffa500;
}

.secure {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.secure > div {
  font-size: 14px !important;
  color: #c0c0c0 !important;
  padding-left: 0 !important;
}
