.section {
  margin-top: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: fit-content;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.headline {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  font-size: 45px;
  color: #111111;
}

.description {
  font-size: 22px;
  color: #030303;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.tiles > div {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 30px;
  }

  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 930px) {
  .tiles {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }

  .tiles > div {
    width: 300px;
  }
}

@media screen and (max-width: 670px) {
  .tiles {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
