.section {
  margin-top: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.headline {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  font-size: 45px;
  color: #111111;
}

.description {
  font-size: 22px;
  color: #030303;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 45px;
}
