.section {
  margin-top: 100px;
  width: 100%;
  background-image: url(../../assets/mid_back.png);
  background-size: 100% 100%;
}

.layout {
  width: 80%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 150px 0 150px 0;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 40px;
}

.header {
  font-size: 45px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  box-sizing: border-box;
  padding: 0 50px 0 50px;
}

@media screen and (max-width: 600px) {
  .description {
    font-size: 14px;
    padding: 0 35px 0 35px;
  }
  .header {
    font-size: 30px;
  }
}
